body {
    margin: 0;
    background-color: #585454;
}

.form-container {
    padding: 10px;
}

.search-box {
    background-color: #242424;
    border: none;
    color: white;
    transition: 0.3s;
}

.search-box:focus {
    border-bottom: #a8a8a8 solid 3px;
    outline: none;
}

.loadingBar {
    text-align: center;
}