.list_box {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 3px solid #a0a0a0;
    padding: 5px;
    background-color: #a0a0a052;
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
  }

  .list_box:hover {
    transform: scale(1.02);
  }
  
  .scroll_box {
    height: 150px;
    width: 90%;
    padding: 10px;
    background-color: #000000;
    overflow: auto;
    margin-left: 50px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .scroll_box::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroll_box::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 15px;
  }
  
  .scroll_box::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid #202020;
  }
  
  .profile_pic{
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .user_details {
    width: 40vw;
    height: 67vh;
    justify-self: left;
    margin-left: 100px;
    margin-top: 80px;
  }
  
  .user_details_field {
    display: flex;
    align-items: center;
    color: white;
    font-size: 23px;
    margin-left: 100px;
    margin-top: 10px;
  }
  
  .user_details_data {
    float: right;
    display: flex;
    align-items: center;
    color: rgb(161, 93, 93);
    font-size: 23px;
    width: 190px;
  }
  
  .edit_button {
    margin-left: 15px;
    width: 20px;
  }
  
  .edit_button:hover {
    color: #242424;
    cursor: pointer;
    filter: invert(0.90);
  }
  
  .feature_icon:hover {
    color: #242424;
    cursor: pointer;
    filter: invert(0.90);
    transform: scale(1.2);
  }
  
  .detail_title {
    width: 30%;
  }
  
  .change_password {
    color: white;
  }
  
  .change_password:hover {
    color: blue;
    cursor: pointer;
  }
  
  .feature_url {
    color: #5353ff;
    text-decoration: underline;
    display: inline;
    margin-left: 20px;
    width:50%;
    text-align: center;
    font-size: 18px;
  }
  
  .feature_name {
    color: white;
    display: inline;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background-color: rgb(124, 124, 124);
    width: 99%;
    cursor: pointer;
    text-align: center;
  }
  
  .feature_icon {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 20px;
    transition: all .2s ease-in-out;
  }
  
  .feature_icon_static {
    width: 30px;
    height: 30px;
    margin-left: 7px;
  }
  
  .parent{
    position: relative;
    display: inline;
    z-index:0;
  }
  
  .inner{
    position:absolute;
    z-index:1;
    bottom: -375px;
    right: -550px;
    width: 30px;
  }
  .inner:hover {
    color: #242424;
    cursor: pointer;
    filter: invert(0.90);
  }
  
  h1 {
    color: white;
  }
  
  p {
    color: white;
  }
  
  .subscription_row {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .subscription_icon {
    width: 50px;
  }
  
  .subscription_title {
    width: 55%;
    text-align: center;
    display: inline;
    color: whitesmoke;
    font-size: 20px;
  }
  
  .history_subscription_wrapper {
    display: flex;
    align-items: center;
  }
  
  .dropdown_box {
    font-size: 18px;
  }
  
  .loader {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
  }

  .hero-container {
    height: 92vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color: #585454;
  }